global
    daemon
    maxconn 256
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    spread-checks 5

defaults
    mode http
    option forceclose
    timeout connect 10s
    timeout client  50s
    timeout server  50s
    timeout check   3s
    retries 20

listen stats
    bind            *:4444
    mode            http
    log             global
    maxconn 200
    timeout client  3s
    timeout server  3s
    timeout connect 4s
    timeout queue   10s
    stats enable
    # stats refresh   30s
    stats show-node
    stats uri /haproxy?stats

frontend proxy_frontend
    bind *:11111
    option forceclose
    default_backend proxy_backend
    mode http

backend proxy_backend
    mode http
    option forceclose
    balance roundrobin
    capture request  header Host len 20
    log global
    {% for backend in backends -%}
    server proxy{{ backend.ip }}:{{ backend.port }}  {{ backend.ip }}:{{ backend.port }} check
    {% endfor %}